*{
    padding: 0px;
    margin: 0px;
}
/* header section*/
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width:100% ;
    color: white;
    background-color: black;
    border-radius: 2px;
}
.aside {
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
}
.aside p:hover{
    color: aqua;
    text-decoration:underline;
}
nav h2{
    margin-left: 60px;
    font-size:30px;
}
nav span{
    color: red;
    font-size: 25px;
    padding-left: 5px;
}
nav .aside button{

    border: 2px solid cyan;
    color: white;
    background-color: black;
    margin-right: 10px;
    width:65px;
    height: 25px;
    border-radius: 5px;
}
nav .aside button:hover{
    color: black;
    background-color: aqua;
}
.sidebar{
    display:none;
    padding: 3px;
    border-radius: 5px;
    width:18px ;
    height:15px;
    
}
/* side nav bar*/
.sidenav{
        background-color:black;
        position: fixed;
        width: 98%;
        height: 200px;
        margin-top: 30px;
        border: 2px solid cyan;
        position: relative;
        top: -600px;
        transition: 1s;
        display:none ;
}

.sidenav p{
    
    color:white;
    row-gap:5;
margin-left:0px;
    margin-top: 0px;
}
.sidenav p:hover{
    background-color: white;
    color: black;
}
.sidenav .mark{
    margin-left:330px;
    color: red;
}

/* main section 
  Home section*/

  a{
    color: white;
    text-decoration: none;
  }
  .containar{

    color: white;
    position: relative;
    display: flex;
  }
  .containar .textarea{
         position:absolute;
         top:80px;
         left: 60px;
  }
  .containar .textarea h2,h1,h3,p,button{
         margin-top: 10px;
         margin-bottom: 10px;
  }
  .textarea h3{
    color: cyan;
  }
  .textarea p{
    font-size: 15px;
  }
  .textarea button{
      
    width: 100px;
    height: 30px;
    text-align: center;
    background-color:black;
    color: white;
    border-radius: 5px;
    border: 2px solid cyan;
    margin-left: 5px;
  }
  .textarea button:hover{
        background-color: aqua;
        color: black;
        border: 2px solid red;
  }
  .containar .imagearea{
    position: absolute;
    left:580px;
    top: 20px;
    
  }
  /* service page */

  .containar1{
color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
  }
 .h1{
    text-align: center;
    color: white;
  }
   span{
   color: red;
}
.img{

    margin-top: 30px;
    margin-left: 20px;
     width: 28%;
     height: 200px;
     background-color: transparent;
     border-radius: 15px;
     border: 1px solid gray;
     text-align: center;
     
}
.containar1 img{
     height:140px ;
     width: 94%;
     padding: 10px;
     border-radius: 20px;
}
.containar1 .img p{
    font-size: 18px;
}
.btn2{
    justify-content: space-between;
    display:flex;
    flex-wrap:wrap;
}
.btn{
    justify-items: right;
    height: 30px;
    width: 100px;
    border: 2px solid cyan;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.btn:hover{
    background-color:gold;
    color: black;
    border:2px solid white;

}

/* About page */
.span{
    color:red;
    text-align:center;
    margin-top: 10px;
    font-size: 30px;
}
.containar3{
    justify-content: center;
}
.image{
    
    top: 50px;
    float: left;
    margin-right: 10px;
}
.containar3 .text{
    color: white;
    top:40px;
    margin-left:20px;
}
.containar3 button{

    height:50px ;
    width: 200px;
    background-color: aqua;
    border-radius: 5px;
    border: 2px solid black;
    margin-left:5px ;
}
.containar3 button:hover{

    background-color: black;
    color: cyan;
    border: 2px solid gold;
}
#ab{
    
    margin-top:60px;
}
/*plans page*/
.plan{
    color: white;
    text-align: center;
}
.planspage{
    margin-top: 100px;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.planspage .basic{
    height: 300px;
    width:300px ;
    border: 2px solid gray;
    padding-top: 20px;
    border-radius: 20px;
    
}

.basic h1,li,.h2,button{
    margin-left: 30px;
}
.basic h1{
    color:#40f592;
}
.basic button{
    height: 35px;
    width: 100px;
    margin-top:15px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-bottom: 1px solid white;
    border-radius: 10px;

}
.basic button:hover{
    background-color:white;
    color: black;
    border: 2px solid cyan;

}
#pb{
       margin-top: 50px;
}

/* reivew page*/
.reviewpage{
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.reviewpage i{
    color: yellow;
    font-size: larger;
    align-items: center;
    margin-top: 10px;
    padding-left: 5px;
}

.reviewpage .icon{
    margin-left: 90px;
}
.reviewpage .clint-img1{

    width: 300px;
    height: 320px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 80px;
}
.clint-img1 p{
    text-align: center;
}
#rb{
    margin-top: 90px;
}
/*contact us page */
.contactus{
    display: flex;
}
.contactus .contact-img {
    margin-left: 20px;
    margin-top: 40px;
}
.contactus .contact-text h1{
     text-align: center;
     margin-left: 60px;
     margin-top: 30px;
     font-size: 34px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.contactus .contact-text h4{
        margin-top:30px ;
        margin-left:60px ;
        color:#e62e2e;
        font-size: 20px;
}
.contact-text p{
    color:white ;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 60px;
}
.contact-icons{
    color: white;
}

.contact-text .contact-icons #phone,#whatsapp,#email,#web{
    color:gold ;
    font-size: 30px;
    margin-left:60px;
    margin-top: 30px;
    padding-right:30px;

}
.contact-icons #email{
    color:#f35151;
}
.contact-icons #whatsapp{
    color:#40f592;
}
.contact-icons #web{
    color:aliceblue;
}
.contact-icons em u{
    color: #2525db;
}
marquee{
    color: gold;
    font-size: 20px;

}
/*-----------------------------------------------------------------------*/
/* media screen*/
@media screen and  (max-width:700px) {

    /*header section */

    nav h2{
        margin-left: 0px;
        font-size: 25px;
        margin-left:3px;
    }
    nav span{
        font-size: 20px;
    }
    nav .aside{
        display:none;
    }
    .sidebar{
        display:block;
        margin-right: 30px;
    
    }
    .sidenav{
        display: block;
        margin-right:20px;
    }
     
     /*  ,home section*/
     .containar .textarea{

        left: 10px;
        top: 10px;
     }
    .body {
        background-image: url(./homeimg.jpg);
        background-size: cover;
        background-repeat:no-repeat ;
        
    }
    .containar .textarea p{
        margin-left: 0px;
    }
    .textarea{
        margin-top:35px;
    }
    .textarea button{
        margin-left:5px;
    }
    .imagearea{
             display: none;
    }

     /*srevicepage*/
     .containar1{
        justify-content: space-around;
     }
     .img{
        width: 40%;
        margin-left: 20px;
     }
     .containar1 img{
        padding:0px;
        padding-top: 5px;
     }

     /* about page*/
     .containar3 .image{
        display:block;
     }
     #ab{
        margin-top:20px;
     }
.span{
    display: none;
}
.containar3 .text .para{
    display: none;
}
.containar3 .image img{
    width: 400px;
    margin-left: 10px;
}
.containar3 button{
    margin-left: 100px;
}
/*planspage*/
.basic{
    margin-bottom: 15px;
}
/* review page*/
.reviewpage .clint-img1{
    margin-top:20px;
    width: 300px;
}
.clint-img1 .icon i{
    margin-left: 0px;
}
/* contact us*/
.contactus .contact-img img{
    display: none;
}
.contactus .contact-text #ch,h4,p,i{
    margin-left: 20px;
}


}